.game {
  width: 600px;
  height: 200px;
  border: 0px solid black;
  margin: auto;
  background-color: white;
  overflow: hidden;
}

.pause-game {
  animation-play-state: paused;
}

#life {
  width: 50%;
  float: left;
  width: 125px;
  height: 25px;
  background-image: url(img/heart.png);
  background-size: 25px 25px;
}

#score {
  width: 50%;
  float: right;
  text-align: right;
  width: 125px;
  height: 25px;
}

#landscape1 {
  position: relative;
  width: 1800px;
  height: 200px;
  top: 0px;
  left: 0px;
  background-image: url(img/landscape.png);
}

.landscape-start {
  animation: land 6000ms infinite linear;
}

@keyframes land {
  0% {
    left: 0px;
  }

  100% {
    left: -1200px;
  }
}

#man {
  width: 50px;
  height: 50px;
  background-image: url(img/stickman1.png);
  background-size: 50px 50px;
  position: absolute;
  top: 155px;
}

.walk {
  animation: walk 500ms infinite linear;
}

.jump {
  animation: jump 500ms linear;
}

@keyframes jump {
  0% {
    top: 150px;
  }

  25% {
    top: 65px;
  }

  40% {
    top: 50px;
  }

  65% {
    top: 60px;
  }

  100% {
    top: 150px;
  }
}

.dogshit {
  width: 25px;
  height: 25px;
  position: relative;
  top: -25px;
  left: 560px;

  background-image: url("img/dogshit.webp");
  background-size: 25px 25px;
}

.hole {
  width: 40px;
  height: 40px;
  position: relative;
  top: -25px;
  left: 540px;

  background-image: url("img/hole.png");
  background-size: 40px 40px;
}

.trash {
  width: 40px;
  height: 40px;
  position: relative;
  top: -40px;
  left: 540px;

  background-image: url("img/trash.png");
  background-size: 40px 40px;
}

#obstacle {
  position: relative;
}

.hole-start {
  animation: holeAnimation 3000ms infinite linear;
}

.dogshit-start {
  animation: dogshitAnimation 3000ms infinite linear;
}

.trash-start {
  animation: trashAnimation 3000ms infinite linear;
}

@keyframes holeAnimation {
  0% {
    left: 560px;
  }

  100% {
    left: -40px;
  }
}

@keyframes dogshitAnimation {
  0% {
    left: 580px;
  }

  100% {
    left: -20px;
  }
}

@keyframes trashAnimation {
  0% {
    left: 560px;
  }

  100% {
    left: -40px;
  }
}

@keyframes walk {
  0% {
    background-image: url(img/stickman1.png);
  }
  50% {
    background-image: url(img/stickman2.png);
  }
  100% {
    background-image: url(img/stickman1.png);
  }
}

#cover {
  position: absolute;
  margin: 25px;
}

#name {
  float: left;
  width: 50%;
  top: -180px;
  margin-top: 10px;
  padding: 10px;
  width: fit-content;
  font-family: monospace;
  font-size: large;
  font-weight: bold;
  border: 2px dashed black;

  transform: rotate(-15deg);
}

#instructions {
  float: left;
  width: 50%;
  top: -180px;
  margin-left: 90px;
  padding: 10px;
  width: fit-content;
  font-family: monospace;
  font-size: medium;
  font-weight: bold;
  border: 2px dashed black;
  text-align: center;
}

#status {
  position: relative;
  top: -200px;
  margin: auto;
  padding: 10px;
  width: fit-content;
  font-family: monospace;
  font-size: xxx-large;
  border: 2px dashed black;
}

.hidden {
  visibility: hidden;
}
